<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">Search By Title</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="email" placeholder="Serach By Title">
      </div>
      <div class="table-responsive">
        <table border="1" width="100%" class="table table-striped">
          <tr>
            <th>Title</th>
            <th>Url</th>
            <th>Created At</th>
            <th>Author</th>
          </tr>
          <tr *ngFor="let post of posts | customerEmailFilter:email;let i = index" (click)=openJsonOnModal(post)>
            <td>{{post.title}}</td>
            <td>{{post.url}}</td>
            <td>{{post.created_at|date:'dd/MM/yyyy'}}</td>
            <td>{{post.author}}</td>
          </tr>

        </table>
      </div>
    </div>
  </div>

</div>